[Unit]
Description=PROXY SOCKS
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/etc/SSHPlus/socks.py $porta
Restart=always

[Install]
WantedBy=multi-user.target