[Unit]
Description=CHECK DT
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=pm2 start $HOME/check_user/index.js
Restart=always

[Install]
WantedBy=multi-user.target