[Unit]
Description=CHECK DT
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/bin/check $porta
Restart=always

[Install]
WantedBy=multi-user.target